In [14]:
from wikibaseintegrator.models import Qualifiers, References, Reference
from wikibaseintegrator import WikibaseIntegrator
from wikibaseintegrator import wbi_login
from wikibaseintegrator import datatypes
from wikibaseintegrator.wbi_config import config as wbi_config
from os.path import join, isfile, exists, isdir, abspath, pardir
from os import listdir, getcwd
import pandas as pd

In [4]:
# Default variables
WDUSER, WDPASS = "Admin", "90J8XXXaO4Sr9^^Z"
# WDUSER, WDPASS = "Mohammadzainabbas", "fHh!%shFa6^h"

In [13]:
parent_dir = abspath(join(getcwd(), pardir))
data_dir = join(parent_dir, "data")
team_data = join(data_dir, "BDMA_Team_v1.csv")
project_data = join(data_dir, "BDMA_Projects_v1.csv")

In [2]:
def setup_config():
    """
    Set up WBI config to use local docker installation
    """
    wbi_config['MEDIAWIKI_API_URL'] = 'http://139.144.66.193:8181/api.php'
    wbi_config['SPARQL_ENDPOINT_URL'] = '"http://139.144.66.193:8282/proxy/wdqs/bigdata/namespace/wdq/sparql"'
    wbi_config['WIKIBASE_URL'] = 'http://wikibase.svc'

In [3]:
setup_config()

In [5]:
login = wbi_login.Login(user=WDUSER, password=WDPASS)

WARNING:root:MediaWiki login warnings messages:
WARNING:root:* main: Subscribe to the mediawiki-api-announce mailing list at <https://lists.wikimedia.org/mailman/listinfo/mediawiki-api-announce> for notice of API deprecations and breaking changes.
WARNING:root:* login: Main-account login via "action=login" is deprecated and may stop working without warning. To continue login with "action=login", see [[Special:BotPasswords]]. To safely continue using main-account login, see "action=clientlogin".

In [6]:
wbi = WikibaseIntegrator(login=login)

In [16]:
df = pd.read_csv(team_data)
df.head()

,Id,Name,Family Name,Birthdate,Nationality,Category,Start date,End date
0,S000001,Mohammad Zain,Abbas,09/05/1995,Pakistani,SK-N3,19/07/2022,06/09/2022
1,S000002,Kainaat,Amjid,30/12/1996,Pakistani,SK-N1,19/07/2022,13/09/2022
2,S000003,Sergio,Postigo,12/02/1996,Peru,SK-N2,26/07/2022,13/10/2022
3,S000004,Emmanuel,Jamin,28/09/1978,French,SKL-N2,10/01/2015,11/01/2015

In [20]:
column_names = df.columns.to_list()

['Id',
 'Name',
 'Family Name',
 'Birthdate',
 'Nationality',
 'Category',
 'Start date',
 'End date']

In [22]:
team_mapping = join(data_dir, "team_mapping.csv")
map_df = pd.read_csv(team_mapping)
map_df.head()

        column prop_type      type mapping_code
0           Id       num  internal          NaN
1         Name       str  external         P735
2  Family Name       str  external         P734
3    Birthdate      date  external         P569
4  Nationality       str  external          P27

In [28]:
columns_with_mappings = list(map_df.T.to_dict().values())

In [29]:
columns_with_mappings[0]

{'column': 'Id', 'prop_type': 'num', 'type': 'internal', 'mapping_code': nan}

In [ ]:
for item in columns_with_mappings:
    col_name = item['column']
    prop_type = item['prop_type']